body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.h1{
    display: flex;
    width: 30%;
}
.form_url_generate, .QR_Links{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
}
.button{
    background-color: black;
    color: antiquewhite;
    font-weight: bolder;
    border-radius: 10px;
}
.QRcodeShower{
    color: blueviolet;
}